body {
  font-family: Times, serif;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.container {
  text-align: center;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.title-image {
  width: 150px;
  height: auto;
}

h1 {
  font-size: 100px;
  color: black;
  margin-bottom: 30px;
  margin-right: 30px;
}

.dropdown-menu {
  width: 350px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  background-color: white;
  color: #333;
  appearance: none;
}

/* Circle container styling */
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.circles a {
  text-decoration: none;
}

/* Individual circle styling */
.circle {
  width: 150px;
  height: 150px;
  background-color: gray; /* Fallback color if the image doesn't load */
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .title-container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .title-image {
    width: 100px;
    margin-bottom: 10px;
  }

  .dropdown-menu {
    width: 100%;
    font-size: 0.9rem;
    padding: 8px;
  }

  .circles {
    gap: 20px;
  }

  .circle {
    width: 100px;
    height: 100px;
  }

  .circle:active {
    width: 95px;
    height: 95px;
    transition: 0.2s;
  }
}
